.form-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
  }



  /* bank */
  .form-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    margin-right: 10px;
  }

  
  /* role */

  
  